[alias]
	cleanup = "!git remote prune origin && git branch -vv | grep ': gone]' | grep -v '\\*' | awk '{ print $1; }' | xargs -r git branch -D"
	deepclean = "!git clean -ffxd"
	ice = "!git add . && git commit -m 'ICE' && git push origin ice/$(whoami)-$(date --rfc-3339=date)"
	optimize = "!git repack -a -d -f --depth=250 --window=250" # See https://stackoverflow.com/a/5613380
	gh-actions-cleanup = "!f(){ local pattern=\"${1:?Usage: actions_cleanup <keep-pattern> <owner/repo>}\"; local repo=\"${2:?Usage: actions_cleanup <keep-pattern> <owner/repo>}\"; gh run list --repo \"$repo\" --limit 500 --json databaseId,name | jq -r --arg p \"$pattern\" '.[] | select(.name | contains($p) | not) | .databaseId' | tr -d '\\r' | while read -r id; do echo \"Deleting run $id...\"; gh run delete --repo \"$repo\" \"$id\"; done; }; f \"$@\""
	gc-all = "!find . -type d -name .git -prune -print0 | xargs -0 -I{} sh -c 'd=\"{}\"; repo=\"${d%/.git}\"; echo \"==> $repo\"; cd \"$repo\" && git gc --prune'"
	vcpkg-deepclean = "!find . -type d -name .git -prune -print0 | xargs -0 -I{} sh -c 'gitdir=\"{}\"; repo=\"${gitdir%/.git}\"; vcpkg=\"$repo/vcpkg\"; echo \"==> $vcpkg\"; if [ -d \"$vcpkg\" ] && { [ -f \"$vcpkg/.git\" ] || [ -d \"$vcpkg/.git\" ]; }; then (cd \"$vcpkg\" && git deepclean); fi'"
[branch]
	autoSetupMerge = simple
[credential]
	helper = manager # https://github.com/git-ecosystem/git-credential-manager
[color]
	ui = auto
[core]
	autocrlf = false
  filemode = false
	editor = nano
	longpaths = true
	fsmonitor = true
[filter "lfs"]
  clean = git-lfs clean -- %f
  smudge = git-lfs smudge -- %f
  process = git-lfs filter-process
  required = true
[pull]
	rebase = true
[push]
	autoSetupRemote = true
[review "review.lineageos.org"]
	username = JulianXhokaxhiu
[user]
	name = Julian Xhokaxhiu
	email = info@julianxhokaxhiu.com