[core]
  filemode = false
[user]
  name = Julian Xhokaxhiu
  email = info@julianxhokaxhiu.com
[pull]
  rebase = true
[alias]
  cleanup = "!git remote prune origin && git branch -vv | grep ': gone]' | grep -v '\\*' | awk '{ print $1; }' | xargs -r git branch -D"
  deepclean = "git clean -fxd"
[review "review.lineageos.org"]
  username = JulianXhokaxhiu
[color]
  ui = auto
